<div id="search" class="form-group">
  <div *ngIf="!searchInitiated">
    <input [(ngModel)]="searchTerm" class="form-control" placeholder="Company Name or Number" />
    <br />
    <button type="button" class="btn btn-secondary" (click)="searchCompanies()">Search</button>
  </div>

  <div *ngIf="loading$ | async">
    <p>Loading...</p>
  </div>

  <div *ngIf="searchResults$ | async as searchResults">
    <h2>Search Results</h2>
    <p *ngIf="!searchResults.items || searchResults.items.length === 0">No results found.</p>
   <ul>
      <li *ngFor="let company of searchResults.items">
        <a (click)="selectCompany(company)" class="text-primary" style="cursor: pointer;">
          <strong>{{ company.title }}</strong>
        </a>
        <p>
          <strong>{{ company.company_number }}</strong> - Incorporated on
          {{ company.date_of_creation | date: 'd MMMM y' }}
        </p>
        <p>{{ company.address_snippet }}</p>
        <br />
      </li>
    </ul>
  </div>

  <div *ngIf="error$ | async as error">
    <p>Error: {{ error.message || 'Failed to load search results.' }}</p>
  </div>

</div>
